<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod
        sequi nam et, obcaecati error, eaque dolorem tempore accusamus, sunt
        tenetur facilis rem eius excepturi est atque quae quam deserunt? Eos
        dolor temporibus non, veniam animi tempora unde vitae architecto
        possimus odio ipsam optio, recusandae tenetur laboriosam aliquam rerum
        molestias?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod
        sequi nam et, obcaecati error, eaque dolorem tempore accusamus, sunt
        tenetur facilis rem eius excepturi est atque quae quam deserunt? Eos
        dolor temporibus non, veniam animi tempora unde vitae architecto
        possimus odio ipsam optio, recusandae tenetur laboriosam aliquam rerum
        molestias?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod
        sequi nam et, obcaecati error, eaque dolorem tempore accusamus, sunt
        tenetur facilis rem eius excepturi est atque quae quam deserunt? Eos
        dolor temporibus non, veniam animi tempora unde vitae architecto
        possimus odio ipsam optio, recusandae tenetur laboriosam aliquam rerum
        molestias?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
